<?xml version="1.0"?>
<SamlHelperConfig 
	casServerLoginUrl="https://loginbeta.advisory.com/cas/login" 
	casServerLogoutUrl="https://loginbeta.advisory.com/cas/logout" 
	serviceProviderServer="http://atxcccwapp-s02" 
	serviceProviderReturnUrl="http://atxcccwapp-s02/Home.aspx" 
	migratedUserRedirectUrl="http://atxcccwapp-s02/Home.aspx"
	provisioningUrl="https://loginbeta.advisory.com/CrimsonProvisioningService/api/" 
	certificatePath="C:\cert\x509.cer"
	sessionTimeOut="60"
	useEphemeralKey="True"
  utcSamlTimestamp="true"
/>