.str
{
    color: #080;
}

.kwd
{
    color: #008;
}

.com
{
    color: #800;
}

.typ
{
    color: #606;
}

.lit
{
    color: #066;
}

.pun
{
    color: #660;
}

.pln
{
    color: #000;
}

.tag
{
    color: #008;
}

.atn
{
    color: #606;
}

.atv
{
    color: #080;
}

.dec
{
    color: #606;
}

ol.linenums
{
    margin-top: 0;
    margin-bottom: 0;
}

@media print
{
    .str
    {
        color: #060;
    }

    .kwd
    {
        color: #006;
        font-weight: 700;
    }

    .com
    {
        color: #600;
        font-style: italic;
    }

    .typ
    {
        color: #404;
        font-weight: 700;
    }

    .lit
    {
        color: #044;
    }

    .pun
    {
        color: #440;
    }

    .pln
    {
        color: #000;
    }

    .tag
    {
        color: #006;
        font-weight: 700;
    }

    .atn
    {
        color: #404;
    }

    .atv
    {
        color: #060;
    }
}

.bentonsansbold
{
    font-family: BentonSansBold,Helvetica,Arial,sans-serif;
    font-style: normal;
    font-weight: 400;
}

.bentonsanslight
{
    font-family: BentonSansLight,Helvetica,Arial,sans-serif;
    font-style: normal;
    font-weight: 400;
}

.bentonsansmedium
{
    font-family: BentonSansMedium,Helvetica,Arial,sans-serif;
    font-style: normal;
    font-weight: 400;
}

.bentonsansregular
{
    font-family: BentonSans,Helvetica,Arial,sans-serif;
    font-style: normal;
    font-weight: 400;
}

.centered
{
    text-align: center;
}

.fl
{
    float: left;
}

.fr
{
    float: right;
}

.bigA
{
    float: left;
    font-size: 72px;
    padding: 0 16px 0 0;
    line-height: 72px;
}

.demo-emphatic
{
    color: #2B2C30;
    text-transform: uppercase;
    font-weight: 700;
}

    .demo-emphatic.type
    {
        margin-top: 32px;
    }

.arial
{
    font-family: Arial;
}

.big-swatch
{
    float: left;
    margin-right: 20px;
    margin-bottom: 18px;
}

    .big-swatch .color
    {
        width: 54px;
        height: 54px;
    }

    .big-swatch .label
    {
        text-align: center;
        padding-top: 12px;
        font-size: 13px;
        font-weight: 700;
        text-transform: uppercase;
    }

.swatch .label
{
    text-align: center;
    padding-top: 12px;
    font-size: 11px;
}

.swatch
{
    float: left;
    margin-top: 30px;
}

    .swatch .color
    {
        width: 24px;
        height: 24px;
    }

.demogrid.spaced .row
{
    margin: 0 0 1.55em;
}

.demogrid [class^=col]
{
    background: #ccc;
    text-align: center;
    border-radius: 3px;
}

    .demogrid [class^=col] span
    {
        display: block;
        padding: .5em 0;
    }

    .demogrid [class^=col] [class^=col]
    {
        background: #bbb;
    }

        .demogrid [class^=col] [class^=col] [class^=col]
        {
            background: #aaa;
        }

.margin-bottom
{
    margin-bottom: 24px;
}

.crux-link
{
    padding: 15px 0 13px;
    font-weight: 400;
    color: #bfc0c1;
    display: block;
}

    .crux-link:hover, .crux-link:active
    {
        color: #1d67cc;
    }

.container.banner.homepage-banner
{
    padding-bottom: 0;
}

.cma-sample
{
    height: 400px;
    overflow: hidden;
    margin-top: -20px;
}

    .cma-sample img
    {
        width: 100%;
    }

.whats-new img
{
    width: 50%;
}

.homepage-cards img
{
    height: 150px;
}

.homepage-cards .well
{
    padding-left: 0;
    border: 0;
}

.prettyprint
{
    font-size: 11px;
    line-height: 1.5;
}

    .prettyprint .tag
    {
        background-color: inherit;
        line-height: inherit;
        font-weight: 400;
        padding: 0;
        text-transform: none;
        margin: 0;
    }

.image-overlay
{
    position: absolute;
    right: 0;
    top: 0;
}

.illustration .card
{
    padding: 0 0 24px;
    min-width: 298px;
}

.illustration h6
{
    color: #2b2e30;
    padding: 0 24px;
    margin: 16px 0;
}

.illustration:hover
{
    text-decoration: none;
}

    .illustration:hover h6
    {
        color: #2481ff;
    }

code
{
    border-top: 1px solid #bfc0c1;
    border-bottom: 1px solid #bfc0c1;
    background: #fff;
    padding: 2px 4px;
    margin: 0 2px;
    color: #000;
}

#buttons-table td > div
{
    margin-top: 12px;
}

.scroll
{
    border: 1px solid #bfc0c1;
    overflow: auto;
    height: 300px;
    border-radius: 4px;
    box-shadow: 1px 0 0 #d5d5d6,0 3px 2px 0 rgba(0,0,0,.15);
    padding: 0 16px;
}

.scrollinner
{
    width: 600px;
}

.prettyprint
{
    margin: 8px 0;
    line-height: 16px;
}

.nice-label
{
    font-family: BentonSans,Helvetica,Arial,sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #6b6d6e;
    line-height: 24px;
    margin: 8px 0;
    padding: 6px 0 2px;
}

input, textarea
{
    width: 100%;
}

#mail-icon-demo
{
    line-height: 36px;
}

#hover-input, #hover-textarea
{
    border: 1px solid #a7cdff;
    box-shadow: inset 2px 2px 2px 0 rgba(0,0,0,.15);
}

#focus-input, #focus-textarea
{
    border-color: #66a7ff;
    box-shadow: 0 0 2px 2px rgba(36,129,255,.1),inset 2px 2px 2px 0 rgba(0,0,0,.15);
}

#error-input1
{
    background: #feebe7;
    border-color: #fa715a;
}

    #error-input1:hover
    {
        border-color: #fc9a89;
    }

    #error-input1:focus
    {
        border-color: #f83413;
        box-shadow: 0 0 2px 2px rgba(250,113,90,.15),inset 2px 2px 2px 0 rgba(0,0,0,.15);
    }

    #error-input1:checked
    {
        box-shadow: none;
    }

        #error-input1:checked:before
        {
            display: none;
        }

#hover-check, #hover-radio
{
    background-color: #f9f9f9;
    background-repeat: repeat-x;
    background-image: -webkit-linear-gradient(top,#f9f9f9 40%,#ececec 100%);
    background-image: linear-gradient(top,#f9f9f9 40%,#ececec 100%);
    border-color: #2481ff;
    box-shadow: none;
}

    #hover-check:checked, #hover-radio:checked
    {
        box-shadow: none;
    }

        #hover-check:checked:before, #hover-radio:checked:before
        {
            display: none;
        }

#focus-check, #focus-radio
{
    background: #fff;
    border-color: #2481ff;
    box-shadow: 0 0 2px 2px rgba(36,129,255,.1);
}

    #focus-check:checked, #focus-radio:checked
    {
        box-shadow: 0 0 2px 2px rgba(36,129,255,.1);
    }

        #focus-check:checked:before, #focus-radio:checked:before
        {
            display: none;
        }

#active-check, #active-radio
{
    background: #fff;
    border-color: #2481ff;
    box-shadow: inset 2px 2px 2px 0 rgba(0,0,0,.15);
}

    #active-check:hover, #active-radio:hover, #active-check:focus, #active-radio:focus
    {
        box-shadow: inset 2px 2px 2px 0 rgba(0,0,0,.15);
    }

    #active-check:checked:before, #active-radio:checked:before
    {
        display: none;
    }

.input-markup
{
    margin-top: 48px;
}

.icon-list
{
    list-style: none;
    margin: 32px 0 0;
    padding: 0;
}

    .icon-list li
    {
        float: left;
        width: 33%;
    }

    .icon-list i
    {
        margin-right: 16px;
    }


    
#Checkboxlist1 td{
    display:inline-block;
    margin-right:20px;
    border:none;
}

.csstransforms input[type=checkbox]:checked + label:before {
background-color: #2074e6;
color: #FFFFFF;
}

.csstransforms input[type=checkbox] + label:before {
width: 16px;
height: 16px;
}

table#chklistWorkflow tr {
float: left;
}